.header-div{
    /* border: 1px solid greenyellow; */
    background-color: rgb(20, 20, 20);
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.header-space{
    width: 1vw;
}