.home-content{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    
}

.button{
    width: 30vw;
    font-size: 100px;
    background-color: rgb(66, 63, 63);
    border-radius: 10px;
    color: aliceblue;
}