.footer-div{
    background-color: rgb(15, 16, 17);
    border-top: solid 1px gray;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

