*{
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, p{
  color: aliceblue;
}

.App {
  text-align: center;
}

.App {
  /* border: solid 1px green; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


body{
  /* background: url(/src/non_upload_images/instagram_login.jpg); */
  margin: 0;
  background-color: #131516f6;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
}

body {
  overflow: scroll;
  overflow-x: hidden;

  
}

.content-div{
  /* border: solid 1px greenyellow; */
  height: 85vh;
  width: 100vw;
}

