*{
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App {
  /* border: solid 1px green; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  /* align-items: center; */
}


body{
  /* background: url(/src/non_upload_images/instagram_login.jpg); */
  background-color: rgb(31, 31, 31);
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content-div{
  /* border: solid 1px greenyellow; */
  height: 85vh;
  width: 100vw;
}

